.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background: url('../../Assets/background-publicity.jpg') no-repeat;
    background-size: 110% 1200px;
    background-position: 0px 0px;
    color: #FFF;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 33%;
    margin-top: 5%;
    background-color: rgba(0,0,0, 0.4);
    border-radius: 5%;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.login-container a, .login-container a:visited {
    color: #FFF;
    text-decoration: none;
}

.login-container a:hover {
    color: #a6a6a6;
}
/* Login */
.title {
    margin-top: 80px;
    margin-bottom: 56px;
}

.login-input {
    width: 70%;
    margin-top: 20px;
    height: 30px;
}

.check-input {
    width: 7%;
    margin-top: 20px;
}

.check-submit {
    width: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-btn {
    margin-left:2.5em;
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    background-color: rgb(15, 102, 45);
    color: white;
    line-height: 1;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
    padding: 12px 31px 14px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
}

.login-btn:hover {
    background-color: rgb(15,172,45);
}

hr {
    margin-top:20px;
    width: 80%;
    margin-bottom: 20px;
    color: #FFF;
}

.signup-btn {
    margin-bottom: 2em;
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;;
    line-height: 1;
    border-width: 0;
    border-radius: 500px;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 48px 18px;
}

.signup-btn:hover {
    background-color: #000;
    color: #FFF;
}