.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.login-container a, .login-container a:visited {
    color: rgb(15, 102, 45);
    text-decoration: none;
}

.login-container a:hover {
    color: rgb(15,172,45);
}
/* Login */
.title {
    margin-top: 16px;
    margin-bottom: 56px;
}

.login-input {
    margin-bottom: 0.5em;
    width: 100%;
    height: 48px;
    padding: 0 .75em;
    border: 1px solid #dfe0e6;
    color: #1c1c1f;
    font-size: .9375em;
    line-height: normal;
    margin-bottom:1em;
}

.check-input {
    margin: 0;
    margin-right: 10px;
}

.check-submit {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.login-btn {
    margin-left:2.5em;
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    background-color: rgb(15, 102, 45);
    color: white;
    line-height: 1;
    border-width: 0;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
    padding: 12px 31px 14px;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    -ms-border-radius: 500px;
    -o-border-radius: 500px;
    cursor: pointer;
    transition-duration: .3s;
}

.login-btn:hover {
    background-color: rgb(15,172,45);
}

hr {
    margin-top:20px;
    width: 100%;
    margin-bottom: 20px;
    /* color: #FFF; */
}

.signup-btn {
    margin-bottom: 2em;
    font-family: Circular, Helvetica, Arial, sans-serif, IosFix;
    line-height: 1;
    border-width: 0;
    border-radius: 500px;
    text-transform: uppercase;
    letter-spacing: 2px;
    white-space: normal;
    font-size: 14px;
    font-weight: 600;
    padding: 16px 48px 18px;
    cursor: pointer;
    border: 2px solid #696c6f;
    transition-duration: .2s;
    background-color: #FFF;
    color: #667275;
    -webkit-border-radius:500px;
    -moz-border-radius:500px;
    -ms-border-radius:500px;
    -o-border-radius:500px;
}

.signup-btn:hover {
    background-color: #696c6f;
    color: #FFF;
}