.container-search-bar{
    flex-grow: 2;
}

.search-bar {
    width: 100%;
    height: 30px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}