
.header{
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: var(--bg-color);
    color: white;
}

.container-header{
    width: 70%;
    height: var(--header-size-height);

    display: flex;
    justify-content: space-between;
}


