* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100vh;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

.flex-centralizado {
    display: flex;
    justify-content: center;
    align-items: center;
} 

:root{
    --bg-color: rgb(21, 21, 21);
    --bg-color-highlight: rgb(92, 92, 92);
    --text-color: #dadce1;

    /* Buttons */
    --btn-color-green: rgb(15, 102, 45);
    --btn-color-green-highlight: rgb(15,172,45);

    /* Header size */
    --header-size-height: 80px;

    /* Inputs size */
    --input-size-height: 30px;

    --border: 1px solid var(--bg-color-highlight);
    --border-blk: 1px solid #000;

    --speed: 500ms;
}  