
.header{
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: rgb(37, 37, 37);
    color: white;
}

.container-header{
    width: 70%;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

