
.header{
    width: 100%;

    display: flex;
    justify-content: center;

    background-color: rgb(37, 37, 37);
    color: white;
}

.container-header{
    width: 70%;
    height: 80px;

    display: flex;
    justify-content: space-between;
}

.nav-bar-main{

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-grow: 1;
}

.nav-links-main{
    height: 50%;
    
    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    list-style: none;
}

.nav-link-main{
    height: 100%;
    margin: 0 0px;

    display: flex;
    align-items: center;

}