
.navbar{
    height: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    flex-grow: 1;
}

.navbar-itens{
    height: 100%;
    max-width: 100%;

    margin: 0;
    padding: 0;

    display: flex;
    align-items: center;

    list-style: none;
}

.nav-link{
    height: 100%;
    margin: 0 20px;

    display: flex;
    align-items: center;

}

.nav-link a {
    color: #FFF;
    text-decoration: none;
}

.left-line{
    border-left: 1px solid white ;
    padding-left: 20px;
}